/* common shared styels */
body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{

    color: #FD6E0A;

}

.btn-primary{ 
    
    
}
/* nav releted styels */


nav{
 display: flex;

}


.nav-title{
    color: #181818;
 font-size: 45px;
    font-weight: 800px;

}

 nav > ul{
    display: flex;
 }
 nav li{
    list-style: none;
    margin: 50px;
 }

 nav a{
    text-decoration: none;
    color: #474747 ;
 }